.game-history-board {
  width: 300px;
  height: 600px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.history-entry {
  display: flex;
  gap: 16px;
}

.history-move {
  display: flex;
  align-items: center;
  gap: 4px; /* 이미지와 텍스트 사이 간격 */
  font-size: 20px;
}

.piece-icon {
  width: 30px;  /* 이미지 크기 조정 */
  height: 30px;
}
