body {
  background-color: rgb(68, 63, 63);
}

.game-history-board {
  width: 500px;
  height: 800px;
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 252, 239);
  overflow-y: auto;
}

.history-entry {
  display: flex;
  gap: 16px;
  width: 100%;
}

.history-move {
  display: flex;
  align-items: center;
  font-size: 30px;
  width: 50%;
  justify-content: center;
}

.piece-icon {
  width: 50px;  
  height: 50px;
}

.current-turn {
  background-color: rgba(255, 223, 88, 0.5); 
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}
