.board-block{
  width: 110px;
  height: 110px;


  caret-color: transparent; 
  
  &.white{
    background-color: rgb(252, 252, 239);
  }

  &.black{
    background-color: rgb(143, 137, 137);
  }

  &.selected{
    background-color: lightblue;
  }
}
