.promotion-container{
  position: absolute;
  top: 270px;
  left: 150px;
  display: flex;
  flex-direction: column;
  width: 90px;
  height: 360px;
  border-top: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
}

.promotion-block{
  width: 90px;
  height: 90px;
  background-color: rgb(252, 252, 239);
  border-bottom: solid 1px black;
  caret-color: transparent; 
  :hover{
    cursor: pointer;
  }
}

.piece-img{
  width: 100%;
  height: 100%;
}